#login-content
  width: 940px
  height: 450px
  margin: 0 auto

  #form-container
    width: 620px
    height: 343px
    margin: 0 auto

    #form-title
      font-size: 27px
      padding: 36px 0

    #form-left
      width: 320px
      form
        font-size: 13px
        p
          margin: 20px 0 8px 0
          &:first-child
            margin-top: 0
        input
          height: 30px
          width: 295px
        button
          cursor: pointer
          float: right
          width: 83px
          height: 33px
          border: none
          outline: none
          background: #8dc63f
          color: #ffffff
          margin: 25px 20px 0 0
          border-right: 1px solid #c3e199

    #form-right
      width: 300px
      font-size: 13px
      p
        line-height: 2
        margin: 15px 0
        &:nth-child(2)
          margin-top: 28px


