button
  cursor: pointer
  float: right
  border: none
  outline: none
  background: #8dc63f
  color: #ffffff

#login-content
  position: relative
  width: 940px
  height: 450px
  margin: 0 auto

  #form-container
    width: 620px
    height: 343px
    margin: 0 auto

    #form-title
      font-size: 27px
      padding: 36px 0

    #form-left
      width: 320px
      form
        font-size: 13px
        p
          margin: 20px 0 8px 0
          &:first-child
            margin-top: 0
        input
          height: 30px
          width: 295px
        button
          width: 83px
          height: 33px
          margin: 25px 20px 0 0
          border-right: 1px solid #c3e199

    #form-right
      width: 300px
      font-size: 13px
      p
        line-height: 2
        margin: 15px 0
        &:nth-child(2)
          margin-top: 28px

  .popup
    display: none
    position: absolute
    background: white
    -webkit-box-shadow: 0px -25px 30px 17px rgba(50, 50, 50, 0.15)
    -moz-box-shadow:    0px -25px 30px 17px rgba(50, 50, 50, 0.15)
    box-shadow:         0px -25px 30px 17px rgba(50, 50, 50, 0.15)
    .container
      position: relative
      height: 100%
      width: 100%
      .title
        font-size: 20px
        padding: 30px 26px 15px 30px
      .close-button
        position: absolute
        top: 30px
        right: 30px
      .text
        font-size: 13px
        line-height: 1.9
        margin: 0 30px

  #pwd-recover
    height: 335px
    width: 330px
    top: 40px
    left: 78px
    .title
      font-size: 20px
      padding: 30px 26px 15px 30px
    .text
      font-size: 13px
      line-height: 1.9
      margin: 0 30px
    input
      height: 32px
      width: 266px
      margin: 5px 30px 15px 30px
    button
      width: 107px
      height: 33px
      margin-right: 30px

  #pwd-sent
    height: 250px
    width: 330px
    top: 40px
    right: 105px
    p
      margin: 0
      &:first-child
        margin-bottom: 20px
    .timer
      position: absolute
      bottom: 0
      height: 50px
      width: 100%
      background: #f4f4f4
      #timer-text
        font-size: 10px
        padding-top: 20px
        padding-left: 30px
        color: #a7a8a7
        span
          font-weight: bold


